
body{
  
  font-family: 'Open Sans Condensed', sans-serif;
  /* font-family: 'Arial'; */

  padding: 18px 45px;
  
}

a{
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;  /*  ( * its a universal selector ) */
}